C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Client\bin
C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Client\obj
C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Server\bin
C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Server\obj
C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Shared\bin
C:\Users\mylif\source\repos\Projects\Zipf Map Reduce\ZipfMapReduce\Shared\obj
.vs
